.Rproj.user
.Rhistory
.RData
.Ruserdata
*_cache/
*_files/
analysis/01_tidy/*.html
analysis/01_tidy_output/*/*.html
analysis/02_fit/*.html
analysis/02_fit_output/*/*.html
analysis/03_post_process/*.html
analysis/03_post_process_output/*/*.html
analysis/04_paper/*.html
analysis/05_diagnostics/*.html
.DS_Store
analysis/0*/*.md
*.csv
*.feather
*.rds
*.xlsx
*.dta
*.tex
*.docx
*-njt.pdf
*.log